@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
img
{
  display: block;
}
a
{
  color: black;
}
/* |||||||||| INIZIO |||||||||| */

body
{
  font-family: 'Montserrat', sans-serif;
}

/* |||||||||| HEADER |||||||||| */

header
{
  
  font-weight: 600;
}
.header-img
{
  background-image: url('../img/favYconStatic3.ico');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  aspect-ratio: 1/1;
  margin: 0 1vw;
}
.header-sezione-left .header-links li
{
  margin: 0 1vw;
}
.arrow-down::after
{
  content: '\25BE';
}
.header-sezione-left .header-links a
{
  padding: 1.3vw 0;
}
.header-sezione-right .header-links a
{
  padding: 0.6vw;
  margin: 0 0.4vw;
  border-radius: 30px;
}

.btn-pro
{
  background-color: black;
  color: white;
}
.btn-cert
{
  background-color: #ffc0c7;
}
.btn-siteweb
{
  background-color: #fff4a3;
}
.btn-login
{
  background-color: #04aa6d;
  color: white;
}

/* |||||||||| NAV |||||||||| */
nav
{
  background-color: black;
  font-weight: 600;

}
nav a
{
  color: white;
}
.nav-links-left li, .nav-links-right li
{
  margin: 0.6vw 0.8vw;
}
.nav-links-right
{
  font-size: 1.2rem;
}







/* |||||||||| HOVER |||||||||| */

.header-sezione-left a:hover
{
  background-color: #08aa70;
  color: white;
}
/* |||||||||| AREA TEST |||||||||| */




/* |||||||||| AREA TEST |||||||||| */





































/* Fine */