@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}
/* |||||||||| AREA FLEX |||||||||| */
.flex-mode
{
  display: flex;
  flex-direction: row;
}
.justify-start
{
  justify-content: start;
}
.align-start
{
  align-items: start;
}
.justify-center
{
  justify-content: center;
}
.align-center
{
  align-items: center;
}
.justify-end
{
  justify-content: end;
}
.align-end
{
  align-items: end;
}
.s-between
{
  justify-content: space-between;
}
.s-around
{
  justify-content: space-around;
}
.d-row
{
  flex-direction: row;
}
.d-col
{
  flex-direction: column;
}
/* |||||||||| AREA FLEX |||||||||| */

/* |||||||||| AREA SET |||||||||| */
.center-text
{
  text-align: center;
}
/* Padding */
.pad-s
{
  padding: 1vw;
}
.pad-m
{
  padding: 2vw;
}
.pad-l
{
  padding: 3vw;
}
/* margin */
.x-mar-s
{
  margin: 0 1vw;
}
.x-mar-m
{
  margin: 0 2vw;
}
.x-mar-l
{
  margin: 0 3vw;
}
/* Border Radius */
.bord-s
{
  border-radius: 5px;
}
.bord-m
{
  border-radius: 10px;
}
.bord-l
{
  border-radius: 20px;
}
.bord-xl
{
  border-radius: 40px;
}
.bord-cerchio
{
  border-radius: 50%;
}
/* |||||||||| AREA SET |||||||||| */

/* |||||||||| INIZIO |||||||||| */
body
{
  font-family: 'Montserrat', sans-serif;
}















































/* Fine */