@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
img
{
  display: block;
}
/* |||||||||| AREA FLEX |||||||||| */
.flex-mode
{
  display: flex;
}
.wrap
{
  flex-wrap: wrap;
}
.d-row
{
  flex-direction: row;
}
.d-col
{
  flex-direction: column;
}
.justify-start
{
  justify-content: flex-start;
}
.align-start
{
  align-items: flex-start;
}
.justify-center
{
  justify-content: center;
}
.align-center
{
  align-items: center;
}
.justify-end
{
  justify-content: flex-end;
}
.align-end
{
  align-items: flex-end;
}
.s-between
{
  justify-content: space-between;
}
.s-around
{
  justify-content: space-around;
}
.align-content-center
{
  align-content: center;
}


/* |||||||||| --------- |||||||||| */

/* |||||||||| AREA SET |||||||||| */
.center-text
{
  text-align: center;
}
/* Padding */
.pad-xs
{
  padding: 0.5vw;
}
.pad-s
{
  padding: 1vw;
}
.pad-m
{
  padding: 2vw;
}
.pad-l
{
  padding: 3vw;
}
/* Padding laterale */
.x-pad-xs
{
  padding: 0 0.5vw;
}
.x-pad-s
{
  padding: 0 1vw;
}
.x-pad-m
{
  padding: 0 2vw;
}
.x-pad-l
{
  padding: 0 3vw;
}
/* margin laterale */
.x-mar-xxs
{
  margin: 0 0.3vw;
}
.x-mar-xs
{
  margin: 0 0.5vw;
}
.x-mar-s
{
  margin: 0 1vw;
}
.x-mar-m
{
  margin: 0 2vw;
}
.x-mar-l
{
  margin: 0 3vw;
}
.y-mar-s
{
  margin: 1vw 0;
}
.y-mar-m
{
  margin: 2vw 0;
}
.y-mar-l
{
  margin: 3vw 0;
}
/* Border Radius */
.borag-s
{
  border-radius: 5px;
}
.borag-m
{
  border-radius: 10px;
}
.borag-l
{
  border-radius: 20px;
}
.borag-xl
{
  border-radius: 40px;
}
.borag-cerchio
{
  border-radius: 50%;
}
.bordo-1
{
  border: 1px solid black;
}
.bordo-2
{
  border: 2px solid black;
}
.bordo-3
{
  border: 3px solid black;
}
.font-xs
{
  font-size: 0.8rem;
}
.font-s
{
  font-size: 1rem;
}
.font-m
{
  font-size: 1.2rem;
}
.font-l
{
  font-size: 1.4rem;
}
.font-xl
{
  font-size: 2rem;
}
/* |||||||||| AREA SET |||||||||| */

/* |||||||||| INIZIO |||||||||| */
body
{
  font-family: 'Montserrat', sans-serif;
}
header
{
    /* temporaneo */
    /* background-color: pink; */
    
    /* ---------- */
}
.container
{
  width: 98%;
  margin-inline: auto;
}
header li > a
{
  display: block;
}
.header-logo
{
  width: 50px;
}
/* Sezione Sinistra */
.sezione-sx
{
  margin: 0 1vw;
}
.sezione-sx li
{
  font-weight: 600;
}
.sezione-sx a
{
  padding: 2rem 1rem;
}
.down-arrow::after
{
  content: '\25BE';
}
/* Sezione Destra */
.sezione-dx li
{
  font-weight: 600;
  font-size: 0.9rem;
}
.btn-new
{
  padding: 0.3vw;
}
/* colori */
.sfondo-nero
{
  background-color: black;
}
.sfondo-rosa
{
  background-color: #ffc0c7;
}
.sfondo-verde
{
  background-color: #04aa6d;
}
.sfondo-bianco
{
  background-color: white;
}
.testo-bianco
{
  color: white;
}

/* hover */
.sezione-sx a:hover, .btn-sitoweb:hover
{
  background-color: #08aa70;
  color: white;
}

/* |||||||||| AREA TEST |||||||||| */




/* |||||||||| AREA TEST |||||||||| */





































/* Fine */